<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OpenSSLSwiftCocoaPodsTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1EC96F8C1C67AB3F0090A0AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1EC96FA01C67AB3F0090A0AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1EC96FAB1C67AB3F0090A0AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
